/*AJUSTAAAAAAAAAAAAR*/ 
@media screen and (max-width: 299px) {
  .cabecalho hgroup {
    font-size: 0.3em;
  }
  .menu {
    font-size: 0.1em;
  }

  section p {
    padding: 1% 5%;
    font-size: 0.5em;
  }

  section h2 {
    font-size: 1.1em;
  }

  footer {
    margin: 3% 0;
  }

  footer p{
    font-size: 10px;

  }
  .test-iframe { /*Ajustar deçpois de mudar questoes*/
    height: 3050px;
  }
}

@media screen and (min-width: 300px) and (max-width: 359px) {
  .cabecalho hgroup {
    font-size: 0.5em;
  }
  .menu {
    font-size: 0.7em;
  }

  section p {
    font-size: 0.9em;
  }

  section h2 {
    font-size: 1.7em;
  }

  footer {
    margin: 6% 0;
  }

  footer p{
    font-size: 13px;

  }
  .test-iframe { /*Ajustar deçpois de mudar questoes*/
    height: 2000px;
  }
}

@media screen and (min-width: 360px) and (max-width: 420px) {
  .cabecalho hgroup {
    font-size: 0.6em;
  }
  .menu {
    font-size: 0.8em;
  }

  section p {
    font-size: 0.95em;
  }

  section h2 {
    font-size: 1.9em;
  }

  footer {
    margin: 8% 0;
  }

  footer p{
    font-size: 15px;

  }
  .test-iframe { /*Ajustar deçpois de mudar questoes*/
    height: 1850px;
  }
}

@media screen and (min-width: 421px) and (max-width: 600px) {
  .cabecalho hgroup {
    font-size: 0.7em;
  }
  .menu {
    font-size: 0.85em;
  }

  section p {
    font-size: 1em;
  }

  section h2 {
    font-size: 2.2em;
  }

  footer {
    margin: 10% 0;
  }

  footer p{
    font-size: 20px;

  }
  .test-iframe { /*Ajustar deçpois de mudar questoes*/
    height: 1950px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .cabecalho hgroup {
    font-size: 0.8em;
  }
  .menu {
    font-size: 0.9em;
  }

  section p {
    font-size: 1.05em;
  }

  section h2 {
    font-size: 2.4em;
  }

  footer {
    margin: 7% 0;
  }

  .test-iframe { /*Ajustar deçpois de mudar questoes*/
    height: 1900px;
  }
}