section {
	height: 100%;
	width: 100%;
	display: table;
}

section h2 {
	margin-top: 60px;
	font-family: Patua One, sans-serif;
	font-size: 250%;
	color: #2c2c2c;
	text-align: center;
	text-decoration: none;
	font-weight: 900;
	padding: 1%;
}

section p {
	font-family: Merriweather Sans, sans-serif;
	color: #2c2c2c;
	font-size: 110%;
	line-height: 150%; /*espaço entre as linhas */
	text-align: justify;
	text-indent: 4%;
	font-weight: 400; /*espessura*/
	padding: 1% 5%;
}

section strong {
	font-weight: 700;
}

.ilustracao {
	position: relative;
	text-align: center;
	width: auto;
	height: auto;
	padding-bottom: 1%;
}

#sobre {
	background: #ecf0f1;
}

#teste {
	background: #3498db;
}

#contato {
	background: #e74c3c;
}