@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Nunito');

form {
  max-width: 90%;
  font-family: 'Patua One', sans-serif;
  color: #fff;
  box-sizing: border-box;
  margin: 30px auto;
  padding: 10px 20px;
  background: rgba(0,0,0,0.3);
  border-radius: 8px;
}

button {
  font-family: 'Nunito', sans-serif;
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  font-size: 20px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 10px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin: 30px 0 30px 0;
  border: none;
}

.questao {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: block;
  margin: 30px 10px 10px 10px;
}

.questao-numero {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

.resposta {
  flex: 0 80%;
}
.resposta-item:hover label {
  color: #4bc970;
}
.resposta-item:hover .escolha::before {
  border: 7px solid #4bc970;
  margin-right: 30px;
}

.radio-btn {
  position: absolute;
  opacity: 0;

}
.radio-btn:checked ~ .escolha {
  color: #4bc970;
}
.radio-btn:checked ~ .escolha::before {
  margin-right: 30px;
  border: 7px solid #4bc970;
  background: #F8F7FF;
}

.escolha {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 20px;
  color: #F8F7FF;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.25s linear;
}

.escolha::before {
  display: block;
  content: '';
  border: 3px solid #F8F7FF;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  transition: all .25s linear;
}

h2 {
  margin-top: 30px;
  font-size: 35px;
  text-align: center;
}


@media screen and (max-width: 420px) {

  .questao {
    font-size: 17px;
    margin: 30px 0 10px 0;
  }

  .questao-numero {
    font-size: 0.9em;
    height: 22px;
    width: 22px;
    line-height: 22px;
    margin-bottom: 2px;
  }

  .escolha {
    font-size: 13px;
  }

  h2 {
    font-size: 26px;
  }
} 

@media screen and (min-width: 421px) and (max-width: 600px) {

  .questao {
    font-size: 20px;
    margin: 30px 0 10px 0;
  }

  .questao-numero {
    font-size: 0.9em;
    height: 26px;
    width: 26px;
    line-height: 26px;
    margin-bottom: 2px;
  }

  .escolha {
    font-size: 15px;
  }

  h2 {
    font-size: 26px;
  }
} 

/*Distância lateral*/
@media screen and (min-width: 601px) {

  form {
    max-width: 80%;
  }

}